In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import re
import nltk

In [4]:
df=pd.read_csv("spam.csv",encoding='latin-1')

In [5]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [6]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [7]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
df.columns=['label','message']

In [9]:
df

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [10]:
df['label']=df['label'].apply(lambda x:1 if x.strip().lower()=='spam' else 0)

In [11]:
df

      label                                            message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567      1  This is the 2nd time we have tried 2 contact u...
5568      0              Will Ì_ b going to esplanade fr home?
5569      0  Pity, * was in mood for that. So...any other s...
5570      0  The guy did some bitching but I acted like i'd...
5571      0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [12]:
#converting any text document into lower case
df['message']=df['message'].str.lower()

In [13]:
df

      label                                            message
0         0  go until jurong point, crazy.. available only ...
1         0                      ok lar... joking wif u oni...
2         1  free entry in 2 a wkly comp to win fa cup fina...
3         0  u dun say so early hor... u c already then say...
4         0  nah i don't think he goes to usf, he lives aro...
...     ...                                                ...
5567      1  this is the 2nd time we have tried 2 contact u...
5568      0              will ì_ b going to esplanade fr home?
5569      0  pity, * was in mood for that. so...any other s...
5570      0  the guy did some bitching but i acted like i'd...
5571      0                         rofl. its true to its name

[5572 rows x 2 columns]

In [14]:
#removel of html tags
def remove_tags(text):
    pattern=re.compile('<.*>')
    return pattern.sub(r'',text)

In [19]:
text="<HTML><body><P>war2"

In [20]:
print(remove_tags(text))

war2

In [21]:
# remove punctuations
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [24]:
def remove_punctuation(text):
    result = ''
    for char in text:
        if char not in string.punctuation:
            result += char
    return result
df['no_punctuation'] = df['message'].apply(remove_punctuation)

In [25]:
df

,label,message,no_punctuation
0,0,"go until jurong point, crazy.. available only ...",go until jurong point crazy available only in ...
1,0,ok lar... joking wif u oni...,ok lar joking wif u oni
2,1,free entry in 2 a wkly comp to win fa cup fina...,free entry in 2 a wkly comp to win fa cup fina...
3,0,u dun say so early hor... u c already then say...,u dun say so early hor u c already then say
4,0,"nah i don't think he goes to usf, he lives aro...",nah i dont think he goes to usf he lives aroun...
...,...,...,...
5567,1,this is the 2nd time we have tried 2 contact u...,this is the 2nd time we have tried 2 contact u...
5568,0,will ì_ b going to esplanade fr home?,will ì b going to esplanade fr home
5569,0,"pity, * was in mood for that. so...any other s...",pity was in mood for that soany other suggest...
5570,0,the guy did some bitching but i acted like i'd...,the guy did some bitching but i acted like id ...
5571,0,rofl. its true to its name,rofl its true to its name

In [26]:
df.drop(['message'],axis=1,inplace=True)

In [28]:
df

      label                                     no_punctuation
0         0  go until jurong point crazy available only in ...
1         0                            ok lar joking wif u oni
2         1  free entry in 2 a wkly comp to win fa cup fina...
3         0        u dun say so early hor u c already then say
4         0  nah i dont think he goes to usf he lives aroun...
...     ...                                                ...
5567      1  this is the 2nd time we have tried 2 contact u...
5568      0                will ì b going to esplanade fr home
5569      0  pity  was in mood for that soany other suggest...
5570      0  the guy did some bitching but i acted like id ...
5571      0                          rofl its true to its name

[5572 rows x 2 columns]

In [29]:
!pip install textblob
!python -m textblob.download_corpora

Requirement already satisfied: textblob in c:\users\admin\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\admin\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\admin\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\admin\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\admin\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\admin\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.66.5)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)

WARNING: Ignoring invalid distribution ~umpy (C:\Users\ADMIN\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\ADMIN\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\ADMIN\anaconda3\Lib\site-packages)

Finished.

[nltk_data] Downloading package brown to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package conll2000 to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...
[nltk_data]   Package conll2000 is already up-to-date!
[nltk_data] Downloading package movie_reviews to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...
[nltk_data]   Package movie_reviews is already up-to-date!

In [30]:
df.columns=['label','message']

In [31]:
df

      label                                            message
0         0  go until jurong point crazy available only in ...
1         0                            ok lar joking wif u oni
2         1  free entry in 2 a wkly comp to win fa cup fina...
3         0        u dun say so early hor u c already then say
4         0  nah i dont think he goes to usf he lives aroun...
...     ...                                                ...
5567      1  this is the 2nd time we have tried 2 contact u...
5568      0                will ì b going to esplanade fr home
5569      0  pity  was in mood for that soany other suggest...
5570      0  the guy did some bitching but i acted like id ...
5571      0                          rofl its true to its name

[5572 rows x 2 columns]

In [33]:
from textblob import TextBlob
def correct_spellings(text):
    blob=TextBlob(text)
    return str(blob.correct())
df['currected_messege']=df['message'].apply(correct_spellings)

In [34]:
df

,label,message,currected_messege
0,0,go until jurong point crazy available only in ...,go until during point crazy available only in ...
1,0,ok lar joking wif u oni,ok war joking if u on
2,1,free entry in 2 a wkly comp to win fa cup fina...,free entry in 2 a wily come to win a cup final...
3,0,u dun say so early hor u c already then say,u dun say so early for u c already then say
4,0,nah i dont think he goes to usf he lives aroun...,ah i dont think he goes to us he lives around ...
...,...,...,...
5567,1,this is the 2nd time we have tried 2 contact u...,this is the and time we have tried 2 contact u...
5568,0,will ì b going to esplanade fr home,will ì b going to esplanade fr home
5569,0,pity was in mood for that soany other suggest...,pity was in mood for that any other suggestions
5570,0,the guy did some bitching but i acted like id ...,the guy did some itching but i acted like id b...
5571,0,rofl its true to its name,roll its true to its name