In [9]:
def sum(num):
    if num==0:
        return num
    return num+sum(num-1)
print(sum(2))

3

In [1]:
import pandas as pd

In [2]:

data={'num':[8,8,3,3,4,5,6]}

In [3]:
data

{'num': [8, 8, 3, 3, 4, 5, 6]}

In [5]:
a=pd.Series(data)
print(a)

num    [8, 8, 3, 3, 4, 5, 6]
dtype: object

In [16]:
df=pd.DataFrame(data)

In [17]:
df

   num
0    8
1    8
2    3
3    3
4    4
5    5
6    6

In [19]:
df['num'].max()

8

In [21]:
count=df['num'].value_counts()

In [22]:
count

num
8    2
3    2
4    1
5    1
6    1
Name: count, dtype: int64

In [29]:
 unique_nums=count[count == 1].index

In [30]:
unique_nums

Index([4, 5, 6], dtype='int64', name='num')

In [35]:
['unique_nums'].max()

AttributeError: 'list' object has no attribute 'max'

In [2]:
import pandas as pd

In [3]:
friuts={"apple":121,"orrenge":13,"banana":12}

In [4]:
a=pd.Series(friuts)

In [5]:
a

apple      121
orrenge     13
banana      12
dtype: int64

In [6]:
data=({"name":"athars","age":22,"city":"odisa"},
{"name":"athars","age":22,"city":"odisa"})

In [7]:
a=pd.DataFrame(data)

In [8]:
a

     name  age   city
0  athars   22  odisa
1  athars   22  odisa

In [9]:
s=pd.Series([2,3,4,5,6,7])

In [10]:
s

0    2
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [11]:
s1=pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','e'])

In [12]:
s1

a    1
b    2
c    3
d    4
e    5
e    6
dtype: int64

In [13]:
fruits_dict={"orange":12,"apple":34,"banana":12}

In [14]:
fruits=pd.Series(fruits_dict)

In [15]:
fruits

orange    12
apple     34
banana    12
dtype: int64

In [16]:
weather_data={"data":['1/1/2025','1/02/2025','1/03/2025','1/04/2025','1/05/2025'],
              "city":["mumbai","pune","delhi","hyderabad","chennai"],
              "temparature":[27,28,39,35,50],
              "windspeed":[4,5,6,7,8],
              "event":["sunny","cloudy","rainy","cloudy","sunny"]}

In [17]:
weather_data

{'data': ['1/1/2025', '1/02/2025', '1/03/2025', '1/04/2025', '1/05/2025'],
 'city': ['mumbai', 'pune', 'delhi', 'hyderabad', 'chennai'],
 'temparature': [27, 28, 39, 35, 50],
 'windspeed': [4, 5, 6, 7, 8],
 'event': ['sunny', 'cloudy', 'rainy', 'cloudy', 'sunny']}

In [18]:
d=pd.DataFrame(weather_data)

In [19]:
d

        data       city  temparature  windspeed   event
0   1/1/2025     mumbai           27          4   sunny
1  1/02/2025       pune           28          5  cloudy
2  1/03/2025      delhi           39          6   rainy
3  1/04/2025  hyderabad           35          7  cloudy
4  1/05/2025    chennai           50          8   sunny

In [20]:
df=pd.DataFrame(data,columns=["date","city","temp","windspeed","event"])

In [21]:
df

   date   city  temp  windspeed  event
0   NaN  odisa   NaN        NaN    NaN
1   NaN  odisa   NaN        NaN    NaN

In [22]:
data3=[{"name":"mayur","age":23,"city":"mumbai"},
     {"name":"mayur","age":23,"city":"mumbai"},
     {"name":"mayur","age":23,"city":"mumbai"},
     {"name":"mayur","age":23,"city":"mumbai"}]

In [23]:
data3

[{'name': 'mayur', 'age': 23, 'city': 'mumbai'},
 {'name': 'mayur', 'age': 23, 'city': 'mumbai'},
 {'name': 'mayur', 'age': 23, 'city': 'mumbai'},
 {'name': 'mayur', 'age': 23, 'city': 'mumbai'}]

In [24]:
df4=pd.DataFrame(data3)

In [25]:
df4

    name  age    city
0  mayur   23  mumbai
1  mayur   23  mumbai
2  mayur   23  mumbai
3  mayur   23  mumbai

In [26]:
import numpy as np

In [27]:
data5=np.array([["mayur",29,"mumbai"],
                ["pqr",30,"pune"],
                ["xyz",31,"nagpur"],
                ["abc",32,"hyd"]])

In [28]:
data5

array([['mayur', '29', 'mumbai'],
       ['pqr', '30', 'pune'],
       ['xyz', '31', 'nagpur'],
       ['abc', '32', 'hyd']], dtype='<U11')

In [29]:
df6=pd.DataFrame(data5,columns=["name","age","city"])

In [30]:
df6

    name age    city
0  mayur  29  mumbai
1    pqr  30    pune
2    xyz  31  nagpur
3    abc  32     hyd

In [1]:
import pandas as pd
a = pd.read_csv('matches.csv')

In [2]:
a

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [3]:
s1=pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])

In [34]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [35]:
s1.values

array([1, 2, 3, 4, 5], dtype=int64)

In [4]:
s1.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [6]:
#loading the dataset into dataframe
df=pd.read_csv("matches.csv")

In [7]:
df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [8]:
df.ndim

2

In [40]:
df.shape

(1095, 20)

In [9]:
df.shape[0]

1095

In [42]:
df.shape[1]

20

In [43]:
df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [10]:
#getting first five rows
df.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [11]:
df.head(2)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri

In [12]:
df.tail()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [47]:
df.tail(2)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [13]:
df.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1095 non-null   int64
 1   season           1095 non-null   object
 2   city             1044 non-null   object
 3   date             1095 non-null   object
 4   match_type       1095 non-null   object
 5   player_of_match  1090 non-null   object
 6   venue            1095 non-null   object
 7   team1            1095 non-null   object
 8   team2            1095 non-null   object
 9   toss_winner      1095 non-null   object
 10  toss_decision    1095 non-null   object
 11  winner           1090 non-null   object
 12  result           1095 non-null   object
 13  result_margin    1076 non-null   float64
 14  target_runs      1092 non-null   float64
 15  target_overs     1092 non-null   float64
 16  super_over       1095 non-null   object
 17  method           21 non-null     object
 18  umpire1          1095 non-null   object
 19  umpire2          1095 non-null   object
dtypes: float64(3), int64(1), object(16)
memory usage: 171.2+ KB

In [15]:
df.describe()

                 id  result_margin  target_runs  target_overs
count  1.095000e+03    1076.000000  1092.000000   1092.000000
mean   9.048283e+05      17.259294   165.684066     19.759341
std    3.677402e+05      21.787444    33.427048      1.581108
min    3.359820e+05       1.000000    43.000000      5.000000
25%    5.483315e+05       6.000000   146.000000     20.000000
50%    9.809610e+05       8.000000   166.000000     20.000000
75%    1.254062e+06      20.000000   187.000000     20.000000
max    1.426312e+06     146.000000   288.000000     20.000000

In [16]:
df["city"]

0        Bangalore
1       Chandigarh
2            Delhi
3           Mumbai
4          Kolkata
           ...
1090     Hyderabad
1091     Ahmedabad
1092     Ahmedabad
1093       Chennai
1094       Chennai
Name: city, Length: 1095, dtype: object

In [17]:
type(df["city"])

pandas.core.series.Series

In [18]:
df.head(2)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri

In [19]:

s=df[["team1","team2","winner"]]

In [20]:
s

,team1,team2,winner
0,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
1,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings
2,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils
3,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore
4,Kolkata Knight Riders,Deccan Chargers,Kolkata Knight Riders
...,...,...,...
1090,Punjab Kings,Sunrisers Hyderabad,Sunrisers Hyderabad
1091,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders
1092,Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals
1093,Sunrisers Hyderabad,Rajasthan Royals,Sunrisers Hyderabad
1094,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders

In [21]:
type(s)

pandas.core.frame.DataFrame

In [22]:
df.iloc[0]

id                                      335982
season                                 2007/08
city                                 Bangalore
date                                2008-04-18
match_type                              League
player_of_match                    BB McCullum
venue                    M Chinnaswamy Stadium
team1              Royal Challengers Bangalore
team2                    Kolkata Knight Riders
toss_winner        Royal Challengers Bangalore
toss_decision                            field
winner                   Kolkata Knight Riders
result                                    runs
result_margin                            140.0
target_runs                              223.0
target_overs                              20.0
super_over                                   N
method                                     NaN
umpire1                              Asad Rauf
umpire2                            RE Koertzen
Name: 0, dtype: object

In [23]:
#fancy indexing
df.iloc[[0,1]]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri

In [24]:
df.iloc[2:10]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
5,335987,2007/08,Jaipur,2008-04-21,League,SR Watson,Sawai Mansingh Stadium,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets,6.0,167.0,20.0,N,NaN,Aleem Dar,RB Tiffin
6,335988,2007/08,Hyderabad,2008-04-22,League,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,Delhi Daredevils,wickets,9.0,143.0,20.0,N,NaN,IL Howell,AM Saheba
7,335989,2007/08,Chennai,2008-04-23,League,ML Hayden,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,6.0,209.0,20.0,N,NaN,DJ Harper,GA Pratapkumar
8,335990,2007/08,Hyderabad,2008-04-24,League,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,215.0,20.0,N,NaN,Asad Rauf,MR Benson
9,335991,2007/08,Chandigarh,2008-04-25,League,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,Kings XI Punjab,runs,66.0,183.0,20.0,N,NaN,Aleem Dar,AM Saheba

In [25]:
df[1::2]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
5,335987,2007/08,Jaipur,2008-04-21,League,SR Watson,Sawai Mansingh Stadium,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets,6.0,167.0,20.0,N,NaN,Aleem Dar,RB Tiffin
7,335989,2007/08,Chennai,2008-04-23,League,ML Hayden,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,6.0,209.0,20.0,N,NaN,DJ Harper,GA Pratapkumar
9,335991,2007/08,Chandigarh,2008-04-25,League,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,Kings XI Punjab,runs,66.0,183.0,20.0,N,NaN,Aleem Dar,AM Saheba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,1426300,2024,Bengaluru,2024-05-12,League,C Green,"M Chinnaswamy Stadium, Bengaluru",Royal Challengers Bengaluru,Delhi Capitals,Delhi Capitals,field,Royal Challengers Bengaluru,runs,47.0,188.0,20.0,N,NaN,A Nand Kishore,VA Kulkarni
1087,1426303,2024,Guwahati,2024-05-15,League,SM Curran,"Barsapara Cricket Stadium, Guwahati",Rajasthan Royals,Punjab Kings,Rajasthan Royals,bat,Punjab Kings,wickets,5.0,145.0,20.0,N,NaN,R Pandit,MV Saidharshan Kumar
1089,1426306,2024,Bengaluru,2024-05-18,League,F du Plessis,"M Chinnaswamy Stadium, Bengaluru",Royal Challengers Bengaluru,Chennai Super Kings,Chennai Super Kings,field,Royal Challengers Bengaluru,runs,27.0,219.0,20.0,N,NaN,A Totre,KN Ananthapadmanabhan
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma

In [26]:
df["city"]

0        Bangalore
1       Chandigarh
2            Delhi
3           Mumbai
4          Kolkata
           ...
1090     Hyderabad
1091     Ahmedabad
1092     Ahmedabad
1093       Chennai
1094       Chennai
Name: city, Length: 1095, dtype: object

In [27]:
df["city"]=="Hyderbad"

0       False
1       False
2       False
3       False
4       False
        ...
1090    False
1091    False
1092    False
1093    False
1094    False
Name: city, Length: 1095, dtype: bool

In [28]:
df["city"]=="Hyderbad"

0       False
1       False
2       False
3       False
4       False
        ...
1090    False
1091    False
1092    False
1093    False
1094    False
Name: city, Length: 1095, dtype: bool

In [29]:
df[df["city"]=="Hyderabad"]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
6,335988,2007/08,Hyderabad,2008-04-22,League,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,Delhi Daredevils,wickets,9.0,143.0,20.0,N,NaN,IL Howell,AM Saheba
8,335990,2007/08,Hyderabad,2008-04-24,League,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,215.0,20.0,N,NaN,Asad Rauf,MR Benson
17,335999,2007/08,Hyderabad,2008-05-01,League,SE Marsh,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,7.0,165.0,20.0,N,NaN,BR Doctrove,RB Tiffin
31,336014,2007/08,Hyderabad,2008-05-11,League,SC Ganguly,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Kolkata Knight Riders,Kolkata Knight Riders,bat,Kolkata Knight Riders,runs,23.0,205.0,20.0,N,NaN,IL Howell,AM Saheba
40,336024,2007/08,Hyderabad,2008-05-18,League,DJ Bravo,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Mumbai Indians,Deccan Chargers,field,Mumbai Indians,runs,25.0,179.0,20.0,N,NaN,BR Doctrove,DJ Harper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,1422136,2024,Hyderabad,2024-04-05,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Chennai Super Kings,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,166.0,20.0,N,NaN,R Pandit,YC Barde
1064,1426279,2024,Hyderabad,2024-04-25,League,RM Patidar,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Royal Challengers Bengaluru,Sunrisers Hyderabad,Royal Challengers Bengaluru,bat,Royal Challengers Bengaluru,runs,35.0,207.0,20.0,N,NaN,Nitin Menon,HAS Khalid
1073,1426288,2024,Hyderabad,2024-05-02,League,B Kumar,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Sunrisers Hyderabad,Rajasthan Royals,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,runs,1.0,202.0,20.0,N,NaN,AK Chaudhary,YC Barde
1080,1426295,2024,Hyderabad,2024-05-08,League,TM Head,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Lucknow Super Giants,Sunrisers Hyderabad,Lucknow Super Giants,bat,Sunrisers Hyderabad,wickets,10.0,166.0,20.0,N,NaN,MV Saidharshan Kumar,YC Barde
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma

In [30]:
df[df["city"]=="Mumbai"]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
12,335994,2007/08,Mumbai,2008-04-27,League,AC Gilchrist,Dr DY Patil Sports Academy,Mumbai Indians,Deccan Chargers,Deccan Chargers,field,Deccan Chargers,wickets,10.0,155.0,20.0,N,NaN,Asad Rauf,SL Shastri
22,336004,2007/08,Mumbai,2008-05-04,League,SM Pollock,Dr DY Patil Sports Academy,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Mumbai Indians,runs,29.0,163.0,20.0,N,NaN,IL Howell,RE Koertzen
26,336008,2007/08,Mumbai,2008-05-07,League,A Nehra,Dr DY Patil Sports Academy,Mumbai Indians,Rajasthan Royals,Mumbai Indians,field,Mumbai Indians,wickets,7.0,104.0,20.0,N,NaN,DJ Harper,RE Koertzen
35,336018,2007/08,Mumbai,2008-05-14,League,ST Jayasuriya,Wankhede Stadium,Mumbai Indians,Chennai Super Kings,Mumbai Indians,field,Mumbai Indians,wickets,9.0,157.0,20.0,N,NaN,BR Doctrove,AM Saheba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048,1426263,2024,Mumbai,2024-04-11,League,JJ Bumrah,"Wankhede Stadium, Mumbai",Royal Challengers Bengaluru,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,7.0,197.0,20.0,N,NaN,Nitin Menon,VA Kulkarni
1052,1426267,2024,Mumbai,2024-04-14,League,M Pathirana,"Wankhede Stadium, Mumbai",Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,20.0,207.0,20.0,N,NaN,Nitin Menon,HAS Khalid
1074,1426289,2024,Mumbai,2024-05-03,League,VR Iyer,"Wankhede Stadium, Mumbai",Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,Kolkata Knight Riders,runs,24.0,170.0,20.0,N,NaN,J Madanagopal,Tapan Sharma
1078,1426293,2024,Mumbai,2024-05-06,League,SA Yadav,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,7.0,174.0,20.0,N,NaN,Navdeep Singh,Tapan Sharma
1088,1426305,2024,Mumbai,2024-05-17,League,N Pooran,"Wankhede Stadium, Mumbai",Lucknow Super Giants,Mumbai Indians,Mumbai Indians,field,Lucknow Super Giants,runs,18.0,215.0,20.0,N,NaN,Navdeep Singh,R Pandit

In [31]:
df[df['date']>'2017-01--01']

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
577,1082591,2017,Hyderabad,2017-04-05,League,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Sunrisers Hyderabad,runs,35.0,208.0,20.0,N,NaN,AY Dandekar,NJ Llong
578,1082592,2017,Pune,2017-04-06,League,SPD Smith,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,Mumbai Indians,Rising Pune Supergiant,field,Rising Pune Supergiant,wickets,7.0,185.0,20.0,N,NaN,A Nand Kishore,S Ravi
579,1082593,2017,Rajkot,2017-04-07,League,CA Lynn,Saurashtra Cricket Association Stadium,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,10.0,184.0,20.0,N,NaN,Nitin Menon,CK Nandan
580,1082594,2017,Indore,2017-04-08,League,GJ Maxwell,Holkar Cricket Stadium,Kings XI Punjab,Rising Pune Supergiant,Kings XI Punjab,field,Kings XI Punjab,wickets,6.0,164.0,20.0,N,NaN,AK Chaudhary,C Shamshuddin
581,1082595,2017,Bengaluru,2017-04-08,League,KM Jadhav,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,15.0,158.0,20.0,N,NaN,S Ravi,VK Sharma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [32]:
#all the matches after 2017 which is played in mumbai
#how many matches played in mumbai
mask=df["city"]=="Mumbai"

In [33]:
df[mask].shape[0]

173

In [34]:
df[mask].shape[0]

173

In [35]:
def count_matches_city(df,city):
    mask=df["city"]==city
    return df[mask].shape[0]

In [36]:
count_matches_city(df,'Bangalore')

65

In [37]:
import pandas as pd

In [38]:
df=pd.read_csv("weather_data.csv")

In [39]:
df

    Unnamed: 0       day     city  temperature  windspeed   event
0            0  1/1/2025  newyork           32          6   rainy
1            1  1/2/2025  newyork           36          7   sunny
2            2  1/3/2025  newyork           28         12    snow
3            3  1/4/2025  newyork           33          7   sunny
4            4  1/1/2025   mumbai           90          5   sunny
5            5  1/2/2025   mumbai           85         12     fog
6            6  1/3/2025   mumbai           87         15     fog
7            7  1/4/2025   mumbai           92          5   rainy
8            8  1/1/2025    paris           45         20   sunny
9            9  1/2/2025    paris           50         13  cloudy
10          10  1/3/2025    paris           54          8  cloudy
11          11  1/4/2025    paris           52         10  cloudy

In [40]:
#get the maximum temparature
df['temperature']

0     32
1     36
2     28
3     33
4     90
5     85
6     87
7     92
8     45
9     50
10    54
11    52
Name: temperature, dtype: int64

In [41]:
type(df['temperature'])

pandas.core.series.Series

In [42]:
df['temperature'].max()

92

In [43]:
df['temperature'].min()

28

In [44]:
df['day'][df['event']=="cloudy"]

9     1/2/2025
10    1/3/2025
11    1/4/2025
Name: day, dtype: object

In [45]:
df['day'][df['event']=="rainy"]

0    1/1/2025
7    1/4/2025
Name: day, dtype: object

In [46]:
df['day'][df['temperature']==df["temperature"].max()]

7    1/4/2025
Name: day, dtype: object

In [47]:
df['day'][df['temperature']==df["temperature"].min()]

2    1/3/2025
Name: day, dtype: object

In [48]:
df["windspeed"].mean()

10.0

In [49]:
df['temperature'].describe()

count    12.000000
mean     57.000000
std      24.694497
min      28.000000
25%      35.250000
50%      51.000000
75%      85.500000
max      92.000000
Name: temperature, dtype: float64

In [51]:
df[df.temperature==df["temperature"].max()]

   Unnamed: 0       day    city  temperature  windspeed  event
7           7  1/4/2025  mumbai           92          5  rainy

In [52]:
df[df.temperature==df["temperature"].min()]

   Unnamed: 0       day     city  temperature  windspeed event
2           2  1/3/2025  newyork           28         12  snow

In [53]:
#group by city
g=df.groupby('city')

In [54]:
g

In [55]:
for city,groupby in g:
    print(city)
    print(groupby)

mumbai
   Unnamed: 0       day    city  temperature  windspeed  event
4           4  1/1/2025  mumbai           90          5  sunny
5           5  1/2/2025  mumbai           85         12    fog
6           6  1/3/2025  mumbai           87         15    fog
7           7  1/4/2025  mumbai           92          5  rainy
newyork
   Unnamed: 0       day     city  temperature  windspeed  event
0           0  1/1/2025  newyork           32          6  rainy
1           1  1/2/2025  newyork           36          7  sunny
2           2  1/3/2025  newyork           28         12   snow
3           3  1/4/2025  newyork           33          7  sunny
paris
    Unnamed: 0       day   city  temperature  windspeed   event
8            8  1/1/2025  paris           45         20   sunny
9            9  1/2/2025  paris           50         13  cloudy
10          10  1/3/2025  paris           54          8  cloudy
11          11  1/4/2025  paris           52         10  cloudy

In [56]:
f=df.groupby('event')

In [57]:
for event,groupyby in f:
    print(event)
    print(groupby)

cloudy
    Unnamed: 0       day   city  temperature  windspeed   event
8            8  1/1/2025  paris           45         20   sunny
9            9  1/2/2025  paris           50         13  cloudy
10          10  1/3/2025  paris           54          8  cloudy
11          11  1/4/2025  paris           52         10  cloudy
fog
    Unnamed: 0       day   city  temperature  windspeed   event
8            8  1/1/2025  paris           45         20   sunny
9            9  1/2/2025  paris           50         13  cloudy
10          10  1/3/2025  paris           54          8  cloudy
11          11  1/4/2025  paris           52         10  cloudy
rainy
    Unnamed: 0       day   city  temperature  windspeed   event
8            8  1/1/2025  paris           45         20   sunny
9            9  1/2/2025  paris           50         13  cloudy
10          10  1/3/2025  paris           54          8  cloudy
11          11  1/4/2025  paris           52         10  cloudy
snow
    Unnamed: 0       day   city  temperature  windspeed   event
8            8  1/1/2025  paris           45         20   sunny
9            9  1/2/2025  paris           50         13  cloudy
10          10  1/3/2025  paris           54          8  cloudy
11          11  1/4/2025  paris           52         10  cloudy
sunny
    Unnamed: 0       day   city  temperature  windspeed   event
8            8  1/1/2025  paris           45         20   sunny
9            9  1/2/2025  paris           50         13  cloudy
10          10  1/3/2025  paris           54          8  cloudy
11          11  1/4/2025  paris           52         10  cloudy

In [58]:
g.max()

         Unnamed: 0       day  temperature  windspeed  event
city
mumbai            7  1/4/2025           92         15  sunny
newyork           3  1/4/2025           36         12  sunny
paris            11  1/4/2025           54         20  sunny

In [59]:
g[['temperature','city']].max()

         temperature     city
city
mumbai            92   mumbai
newyork           36  newyork
paris             54    paris

In [60]:
g[['temperature','city']].min()

         temperature     city
city
mumbai            85   mumbai
newyork           28  newyork
paris             45    paris

In [61]:
g.windspeed.mean()

city
mumbai      9.25
newyork     8.00
paris      12.75
Name: windspeed, dtype: float64

In [62]:
df.rename(columns={'day':'date'})

    Unnamed: 0      date     city  temperature  windspeed   event
0            0  1/1/2025  newyork           32          6   rainy
1            1  1/2/2025  newyork           36          7   sunny
2            2  1/3/2025  newyork           28         12    snow
3            3  1/4/2025  newyork           33          7   sunny
4            4  1/1/2025   mumbai           90          5   sunny
5            5  1/2/2025   mumbai           85         12     fog
6            6  1/3/2025   mumbai           87         15     fog
7            7  1/4/2025   mumbai           92          5   rainy
8            8  1/1/2025    paris           45         20   sunny
9            9  1/2/2025    paris           50         13  cloudy
10          10  1/3/2025    paris           54          8  cloudy
11          11  1/4/2025    paris           52         10  cloudy

In [63]:
df.rename(columns={'day':'date'},inplace=True)

In [64]:
df

    Unnamed: 0      date     city  temperature  windspeed   event
0            0  1/1/2025  newyork           32          6   rainy
1            1  1/2/2025  newyork           36          7   sunny
2            2  1/3/2025  newyork           28         12    snow
3            3  1/4/2025  newyork           33          7   sunny
4            4  1/1/2025   mumbai           90          5   sunny
5            5  1/2/2025   mumbai           85         12     fog
6            6  1/3/2025   mumbai           87         15     fog
7            7  1/4/2025   mumbai           92          5   rainy
8            8  1/1/2025    paris           45         20   sunny
9            9  1/2/2025    paris           50         13  cloudy
10          10  1/3/2025    paris           54          8  cloudy
11          11  1/4/2025    paris           52         10  cloudy

In [66]:
import numpy as np
import pandas as pd

In [67]:
df=pd.read_csv("weather_data.csv")

In [68]:
df

    Unnamed: 0       day     city  temperature  windspeed   event
0            0  1/1/2025  newyork           32          6   rainy
1            1  1/2/2025  newyork           36          7   sunny
2            2  1/3/2025  newyork           28         12    snow
3            3  1/4/2025  newyork           33          7   sunny
4            4  1/1/2025   mumbai           90          5   sunny
5            5  1/2/2025   mumbai           85         12     fog
6            6  1/3/2025   mumbai           87         15     fog
7            7  1/4/2025   mumbai           92          5   rainy
8            8  1/1/2025    paris           45         20   sunny
9            9  1/2/2025    paris           50         13  cloudy
10          10  1/3/2025    paris           54          8  cloudy
11          11  1/4/2025    paris           52         10  cloudy

In [69]:
df.shape

(12, 6)

In [70]:
df.ndim

2

In [71]:
df.index[1:3]

RangeIndex(start=1, stop=3, step=1)

In [72]:
df.index

RangeIndex(start=0, stop=12, step=1)

In [73]:
#df.values
df.values

array([[0, '1/1/2025', 'newyork', 32, 6, 'rainy'],
       [1, '1/2/2025', 'newyork', 36, 7, 'sunny'],
       [2, '1/3/2025', 'newyork', 28, 12, 'snow'],
       [3, '1/4/2025', 'newyork', 33, 7, 'sunny'],
       [4, '1/1/2025', 'mumbai', 90, 5, 'sunny'],
       [5, '1/2/2025', 'mumbai', 85, 12, 'fog'],
       [6, '1/3/2025', 'mumbai', 87, 15, 'fog'],
       [7, '1/4/2025', 'mumbai', 92, 5, 'rainy'],
       [8, '1/1/2025', 'paris', 45, 20, 'sunny'],
       [9, '1/2/2025', 'paris', 50, 13, 'cloudy'],
       [10, '1/3/2025', 'paris', 54, 8, 'cloudy'],
       [11, '1/4/2025', 'paris', 52, 10, 'cloudy']], dtype=object)

In [74]:
df.columns

Index(['Unnamed: 0', 'day', 'city', 'temperature', 'windspeed', 'event'], dtype='object')

In [75]:
df.dtypes

Unnamed: 0      int64
day            object
city           object
temperature     int64
windspeed       int64
event          object
dtype: object

In [78]:
df.size

72

In [79]:
df.T

,0,1,2,3,4,5,6,7,8,9,10,11
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11
day,1/1/2025,1/2/2025,1/3/2025,1/4/2025,1/1/2025,1/2/2025,1/3/2025,1/4/2025,1/1/2025,1/2/2025,1/3/2025,1/4/2025
city,newyork,newyork,newyork,newyork,mumbai,mumbai,mumbai,mumbai,paris,paris,paris,paris
temperature,32,36,28,33,90,85,87,92,45,50,54,52
windspeed,6,7,12,7,5,12,15,5,20,13,8,10
event,rainy,sunny,snow,sunny,sunny,fog,fog,rainy,sunny,cloudy,cloudy,cloudy

In [81]:
df.memory_usage()

Index          132
Unnamed: 0      96
day             96
city            96
temperature     96
windspeed       96
event           96
dtype: int64

In [82]:
df.head()

   Unnamed: 0       day     city  temperature  windspeed  event
0           0  1/1/2025  newyork           32          6  rainy
1           1  1/2/2025  newyork           36          7  sunny
2           2  1/3/2025  newyork           28         12   snow
3           3  1/4/2025  newyork           33          7  sunny
4           4  1/1/2025   mumbai           90          5  sunny

In [83]:
df.head(2)

   Unnamed: 0       day     city  temperature  windspeed  event
0           0  1/1/2025  newyork           32          6  rainy
1           1  1/2/2025  newyork           36          7  sunny

In [84]:
df.tail()

    Unnamed: 0       day    city  temperature  windspeed   event
7            7  1/4/2025  mumbai           92          5   rainy
8            8  1/1/2025   paris           45         20   sunny
9            9  1/2/2025   paris           50         13  cloudy
10          10  1/3/2025   paris           54          8  cloudy
11          11  1/4/2025   paris           52         10  cloudy

In [85]:
df.tail(2)

    Unnamed: 0       day   city  temperature  windspeed   event
10          10  1/3/2025  paris           54          8  cloudy
11          11  1/4/2025  paris           52         10  cloudy

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   12 non-null     int64
 1   day          12 non-null     object
 2   city         12 non-null     object
 3   temperature  12 non-null     int64
 4   windspeed    12 non-null     int64
 5   event        12 non-null     object
dtypes: int64(3), object(3)
memory usage: 708.0+ bytes

In [87]:
df.describe()

       Unnamed: 0  temperature  windspeed
count   12.000000    12.000000  12.000000
mean     5.500000    57.000000  10.000000
std      3.605551    24.694497   4.572646
min      0.000000    28.000000   5.000000
25%      2.750000    35.250000   6.750000
50%      5.500000    51.000000   9.000000
75%      8.250000    85.500000  12.250000
max     11.000000    92.000000  20.000000

In [88]:
df.isnull()

    Unnamed: 0    day   city  temperature  windspeed  event
0        False  False  False        False      False  False
1        False  False  False        False      False  False
2        False  False  False        False      False  False
3        False  False  False        False      False  False
4        False  False  False        False      False  False
5        False  False  False        False      False  False
6        False  False  False        False      False  False
7        False  False  False        False      False  False
8        False  False  False        False      False  False
9        False  False  False        False      False  False
10       False  False  False        False      False  False
11       False  False  False        False      False  False

In [89]:
df.isnull().sum()

Unnamed: 0     0
day            0
city           0
temperature    0
windspeed      0
event          0
dtype: int64

In [90]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
dtype: bool

In [91]:
df.duplicated().sum()

0

In [92]:
df['temperature']

0     32
1     36
2     28
3     33
4     90
5     85
6     87
7     92
8     45
9     50
10    54
11    52
Name: temperature, dtype: int64

In [93]:
type(df["temperature"])

pandas.core.series.Series

In [1]:
import os
os.getcwd()

'C:\\Users\\ADMIN\\pandas file'

In [94]:
df[["city","temperature"]]

       city  temperature
0   newyork           32
1   newyork           36
2   newyork           28
3   newyork           33
4    mumbai           90
5    mumbai           85
6    mumbai           87
7    mumbai           92
8     paris           45
9     paris           50
10    paris           54
11    paris           52

In [95]:
df[['temperature']]

    temperature
0            32
1            36
2            28
3            33
4            90
5            85
6            87
7            92
8            45
9            50
10           54
11           52

In [96]:
#slicing
df.iloc[0]

Unnamed: 0            0
day            1/1/2025
city            newyork
temperature          32
windspeed             6
event             rainy
Name: 0, dtype: object

In [97]:
df.iloc[1:6]

   Unnamed: 0       day     city  temperature  windspeed  event
1           1  1/2/2025  newyork           36          7  sunny
2           2  1/3/2025  newyork           28         12   snow
3           3  1/4/2025  newyork           33          7  sunny
4           4  1/1/2025   mumbai           90          5  sunny
5           5  1/2/2025   mumbai           85         12    fog

In [98]:
df.iloc[[2,5]]

   Unnamed: 0       day     city  temperature  windspeed event
2           2  1/3/2025  newyork           28         12  snow
5           5  1/2/2025   mumbai           85         12   fog

In [99]:
#only slicing above table not original
df.iloc[2,5]

'snow'

In [100]:
#Get the maximum temperature
df[['temperature']].max()

temperature    92
dtype: int64

In [101]:
#Get the minimum temperature
df[['temperature']].min()

temperature    28
dtype: int64

In [102]:
#which day its raining
df[['day']][df['event']=='rainy']

        day
0  1/1/2025
7  1/4/2025

In [103]:
#which day its cloudy
df[['day']][df['event']=='cloudy']

         day
9   1/2/2025
10  1/3/2025
11  1/4/2025

In [104]:
#get a day where the temperature is maximum
df['day'][df['temperature']==df['temperature'].max()]

7    1/4/2025
Name: day, dtype: object

In [105]:
#get a day where the minimum temperature 
df['day'][df['temperature']==df['temperature'].min()]

2    1/3/2025
Name: day, dtype: object

In [106]:
#what the average windspeed
df['windspeed'].mean()

10.0

In [107]:
#describe the temperature
df['temperature'].describe()

count    12.000000
mean     57.000000
std      24.694497
min      28.000000
25%      35.250000
50%      51.000000
75%      85.500000
max      92.000000
Name: temperature, dtype: float64

In [108]:
#select which row has maximum temperature
df[df.temperature==df['temperature'].max()]

   Unnamed: 0       day    city  temperature  windspeed  event
7           7  1/4/2025  mumbai           92          5  rainy

In [109]:
#select which row has minimum temperature
df[df.temperature==df['temperature'].min()]

   Unnamed: 0       day     city  temperature  windspeed event
2           2  1/3/2025  newyork           28         12  snow

In [110]:
#group by city
g=df.groupby('city')

In [111]:
g

In [112]:
df

    Unnamed: 0       day     city  temperature  windspeed   event
0            0  1/1/2025  newyork           32          6   rainy
1            1  1/2/2025  newyork           36          7   sunny
2            2  1/3/2025  newyork           28         12    snow
3            3  1/4/2025  newyork           33          7   sunny
4            4  1/1/2025   mumbai           90          5   sunny
5            5  1/2/2025   mumbai           85         12     fog
6            6  1/3/2025   mumbai           87         15     fog
7            7  1/4/2025   mumbai           92          5   rainy
8            8  1/1/2025    paris           45         20   sunny
9            9  1/2/2025    paris           50         13  cloudy
10          10  1/3/2025    paris           54          8  cloudy
11          11  1/4/2025    paris           52         10  cloudy

In [113]:
for city,group_df in g:
    print(city)
    print(group_df)

mumbai
   Unnamed: 0       day    city  temperature  windspeed  event
4           4  1/1/2025  mumbai           90          5  sunny
5           5  1/2/2025  mumbai           85         12    fog
6           6  1/3/2025  mumbai           87         15    fog
7           7  1/4/2025  mumbai           92          5  rainy
newyork
   Unnamed: 0       day     city  temperature  windspeed  event
0           0  1/1/2025  newyork           32          6  rainy
1           1  1/2/2025  newyork           36          7  sunny
2           2  1/3/2025  newyork           28         12   snow
3           3  1/4/2025  newyork           33          7  sunny
paris
    Unnamed: 0       day   city  temperature  windspeed   event
8            8  1/1/2025  paris           45         20   sunny
9            9  1/2/2025  paris           50         13  cloudy
10          10  1/3/2025  paris           54          8  cloudy
11          11  1/4/2025  paris           52         10  cloudy

In [114]:
#group by event
f=df.groupby('event')

In [115]:
f

In [116]:
for event,event_df in g:
    print(event)
    print(event_df)

mumbai
   Unnamed: 0       day    city  temperature  windspeed  event
4           4  1/1/2025  mumbai           90          5  sunny
5           5  1/2/2025  mumbai           85         12    fog
6           6  1/3/2025  mumbai           87         15    fog
7           7  1/4/2025  mumbai           92          5  rainy
newyork
   Unnamed: 0       day     city  temperature  windspeed  event
0           0  1/1/2025  newyork           32          6  rainy
1           1  1/2/2025  newyork           36          7  sunny
2           2  1/3/2025  newyork           28         12   snow
3           3  1/4/2025  newyork           33          7  sunny
paris
    Unnamed: 0       day   city  temperature  windspeed   event
8            8  1/1/2025  paris           45         20   sunny
9            9  1/2/2025  paris           50         13  cloudy
10          10  1/3/2025  paris           54          8  cloudy
11          11  1/4/2025  paris           52         10  cloudy

In [117]:
#find the maximum temperature in each cities
g.max()

         Unnamed: 0       day  temperature  windspeed  event
city
mumbai            7  1/4/2025           92         15  sunny
newyork           3  1/4/2025           36         12  sunny
paris            11  1/4/2025           54         20  sunny

In [50]:
#find the minimum temperature in each city
g.min()

         Unnamed: 0       day  temperature  windspeed   event
city
mumbai            4  1/1/2025           85          5     fog
newyork           0  1/1/2025           28          6   rainy
paris             8  1/1/2025           45          8  cloudy

In [51]:
#what is average temperature in each city
g.temperature.mean()

city
mumbai     88.50
newyork    32.25
paris      50.25
Name: temperature, dtype: float64

In [52]:
#what is average windspeed in each city
g.windspeed.mean()

city
mumbai      9.25
newyork     8.00
paris      12.75
Name: windspeed, dtype: float64

In [53]:
df

    Unnamed: 0       day     city  temperature  windspeed   event
0            0  1/1/2025  newyork           32          6   rainy
1            1  1/2/2025  newyork           36          7   sunny
2            2  1/3/2025  newyork           28         12    snow
3            3  1/4/2025  newyork           33          7   sunny
4            4  1/1/2025   mumbai           90          5   sunny
5            5  1/2/2025   mumbai           85         12     fog
6            6  1/3/2025   mumbai           87         15     fog
7            7  1/4/2025   mumbai           92          5   rainy
8            8  1/1/2025    paris           45         20   sunny
9            9  1/2/2025    paris           50         13  cloudy
10          10  1/3/2025    paris           54          8  cloudy
11          11  1/4/2025    paris           52         10  cloudy

In [118]:
df.rename(columns={"day":"date"})

    Unnamed: 0      date     city  temperature  windspeed   event
0            0  1/1/2025  newyork           32          6   rainy
1            1  1/2/2025  newyork           36          7   sunny
2            2  1/3/2025  newyork           28         12    snow
3            3  1/4/2025  newyork           33          7   sunny
4            4  1/1/2025   mumbai           90          5   sunny
5            5  1/2/2025   mumbai           85         12     fog
6            6  1/3/2025   mumbai           87         15     fog
7            7  1/4/2025   mumbai           92          5   rainy
8            8  1/1/2025    paris           45         20   sunny
9            9  1/2/2025    paris           50         13  cloudy
10          10  1/3/2025    paris           54          8  cloudy
11          11  1/4/2025    paris           52         10  cloudy

In [119]:
df

    Unnamed: 0       day     city  temperature  windspeed   event
0            0  1/1/2025  newyork           32          6   rainy
1            1  1/2/2025  newyork           36          7   sunny
2            2  1/3/2025  newyork           28         12    snow
3            3  1/4/2025  newyork           33          7   sunny
4            4  1/1/2025   mumbai           90          5   sunny
5            5  1/2/2025   mumbai           85         12     fog
6            6  1/3/2025   mumbai           87         15     fog
7            7  1/4/2025   mumbai           92          5   rainy
8            8  1/1/2025    paris           45         20   sunny
9            9  1/2/2025    paris           50         13  cloudy
10          10  1/3/2025    paris           54          8  cloudy
11          11  1/4/2025    paris           52         10  cloudy

In [120]:
df.rename(columns={"day":"date"},inplace=True)

In [121]:
df

    Unnamed: 0      date     city  temperature  windspeed   event
0            0  1/1/2025  newyork           32          6   rainy
1            1  1/2/2025  newyork           36          7   sunny
2            2  1/3/2025  newyork           28         12    snow
3            3  1/4/2025  newyork           33          7   sunny
4            4  1/1/2025   mumbai           90          5   sunny
5            5  1/2/2025   mumbai           85         12     fog
6            6  1/3/2025   mumbai           87         15     fog
7            7  1/4/2025   mumbai           92          5   rainy
8            8  1/1/2025    paris           45         20   sunny
9            9  1/2/2025    paris           50         13  cloudy
10          10  1/3/2025    paris           54          8  cloudy
11          11  1/4/2025    paris           52         10  cloudy

In [122]:
df.drop(columns=["Unnamed: 0"])#space is mandot

        date     city  temperature  windspeed   event
0   1/1/2025  newyork           32          6   rainy
1   1/2/2025  newyork           36          7   sunny
2   1/3/2025  newyork           28         12    snow
3   1/4/2025  newyork           33          7   sunny
4   1/1/2025   mumbai           90          5   sunny
5   1/2/2025   mumbai           85         12     fog
6   1/3/2025   mumbai           87         15     fog
7   1/4/2025   mumbai           92          5   rainy
8   1/1/2025    paris           45         20   sunny
9   1/2/2025    paris           50         13  cloudy
10  1/3/2025    paris           54          8  cloudy
11  1/4/2025    paris           52         10  cloudy

In [123]:
data1=df.loc[df["city"]=="mumbai"]

In [124]:
data1

   Unnamed: 0      date    city  temperature  windspeed  event
4           4  1/1/2025  mumbai           90          5  sunny
5           5  1/2/2025  mumbai           85         12    fog
6           6  1/3/2025  mumbai           87         15    fog
7           7  1/4/2025  mumbai           92          5  rainy

In [127]:
hyderabad_weather={"date":['1/4/2025','2/4/2025','3/4/2025','4/4/2025','5/4/2025'],
                  "city":["nagour","amerpet","srnagar","erragadda","kbnagar"],
                  "temp":[45,35,46,48,50],
                  "winspeed":[5,6,7,8,9],
                  "event":["sunny","rainy","fogg","cloudy","snow"]}

In [128]:
hyderabad_weather

{'date': ['1/4/2025', '2/4/2025', '3/4/2025', '4/4/2025', '5/4/2025'],
 'city': ['nagour', 'amerpet', 'srnagar', 'erragadda', 'kbnagar'],
 'temp': [45, 35, 46, 48, 50],
 'winspeed': [5, 6, 7, 8, 9],
 'event': ['sunny', 'rainy', 'fogg', 'cloudy', 'snow']}

In [131]:
h=pd.DataFrame(hyderabad_weather)

In [132]:
h

       date       city  temp  winspeed   event
0  1/4/2025     nagour    45         5   sunny
1  2/4/2025    amerpet    35         6   rainy
2  3/4/2025    srnagar    46         7    fogg
3  4/4/2025  erragadda    48         8  cloudy
4  5/4/2025    kbnagar    50         9    snow

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("matches.csv")

In [3]:
df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [136]:
#How many matches played in rajkot
df["city"]=="Rajkot"

0       False
1       False
2       False
3       False
4       False
        ...
1090    False
1091    False
1092    False
1093    False
1094    False
Name: city, Length: 1095, dtype: bool

In [137]:
df[df["city"]=="Rajkot"]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
522,980911,2016,Rajkot,2016-04-14,League,AJ Finch,Saurashtra Cricket Association Stadium,Gujarat Lions,Rising Pune Supergiants,Rising Pune Supergiants,bat,Gujarat Lions,wickets,7.0,164.0,20.0,N,NaN,VA Kulkarni,CK Nandan
531,980929,2016,Rajkot,2016-04-21,League,B Kumar,Saurashtra Cricket Association Stadium,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,10.0,136.0,20.0,N,NaN,K Bharatan,HDPK Dharmasena
535,980937,2016,Rajkot,2016-04-24,League,V Kohli,Saurashtra Cricket Association Stadium,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,Gujarat Lions,wickets,6.0,181.0,20.0,N,NaN,K Bharatan,BNJ Oxenford
544,980955,2016,Rajkot,2016-05-01,League,AR Patel,Saurashtra Cricket Association Stadium,Gujarat Lions,Kings XI Punjab,Gujarat Lions,field,Kings XI Punjab,runs,23.0,155.0,20.0,N,NaN,BNJ Oxenford,VK Sharma
547,980961,2016,Rajkot,2016-05-03,League,RR Pant,Saurashtra Cricket Association Stadium,Gujarat Lions,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils,wickets,8.0,150.0,20.0,N,NaN,CB Gaffaney,BNJ Oxenford
579,1082593,2017,Rajkot,2017-04-07,League,CA Lynn,Saurashtra Cricket Association Stadium,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,10.0,184.0,20.0,N,NaN,Nitin Menon,CK Nandan
589,1082603,2017,Rajkot,2017-04-14,League,AJ Tye,Saurashtra Cricket Association Stadium,Gujarat Lions,Rising Pune Supergiant,Gujarat Lions,field,Gujarat Lions,wickets,7.0,172.0,20.0,N,NaN,A Nand Kishore,S Ravi
596,1082610,2017,Rajkot,2017-04-18,League,CH Gayle,Saurashtra Cricket Association Stadium,Gujarat Lions,Royal Challengers Bangalore,Gujarat Lions,field,Royal Challengers Bangalore,runs,21.0,214.0,20.0,N,NaN,S Ravi,VK Sharma
602,1082616,2017,Rajkot,2017-04-23,League,HM Amla,Saurashtra Cricket Association Stadium,Gujarat Lions,Kings XI Punjab,Gujarat Lions,field,Kings XI Punjab,runs,26.0,189.0,20.0,N,NaN,AK Chaudhary,M Erasmus
610,1082625,2017,Rajkot,2017-04-29,League,KH Pandya,Saurashtra Cricket Association Stadium,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,Mumbai Indians,tie,NaN,154.0,20.0,Y,NaN,AK Chaudhary,CB Gaffaney

In [138]:
df[df["city"]=="Rajkot"].shape[0]

10

In [139]:
#create the function to get the count of the matches
def count_matches(city):
    return df[df["city"]==city].shape[0]

In [140]:
count_matches("Hyderabad")

77

In [141]:
count_matches("Mumbai")

173

In [142]:
#all matches palyed in banglore after 2010
v1=df["city"]=="Bangalore"
v2=df["date"]>'2010-01-01'

In [143]:
v1

0        True
1       False
2       False
3       False
4       False
        ...
1090    False
1091    False
1092    False
1093    False
1094    False
Name: city, Length: 1095, dtype: bool

In [144]:
v2

0       False
1       False
2       False
3       False
4       False
        ...
1090     True
1091     True
1092     True
1093     True
1094     True
Name: date, Length: 1095, dtype: bool

In [145]:
df[v1&v2].shape[0]

58

In [146]:
df[df["city"]=="Bangalore"]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
10,335992,2007/08,Bangalore,2008-04-26,League,SR Watson,M Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,136.0,20.0,N,NaN,MR Benson,IL Howell
14,335996,2007/08,Bangalore,2008-04-28,League,MS Dhoni,M Chinnaswamy Stadium,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,13.0,179.0,20.0,N,NaN,BR Doctrove,RB Tiffin
21,336034,2007/08,Bangalore,2008-05-03,League,P Kumar,M Chinnaswamy Stadium,Royal Challengers Bangalore,Deccan Chargers,Deccan Chargers,field,Royal Challengers Bangalore,runs,3.0,157.0,20.0,N,NaN,BR Doctrove,SL Shastri
24,336006,2007/08,Bangalore,2008-05-05,League,S Sreesanth,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,6.0,127.0,20.0,N,NaN,SJ Davis,BR Doctrove
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,1082621,2017,Bangalore,2017-04-27,League,AJ Tye,M Chinnaswamy Stadium,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,Gujarat Lions,wickets,7.0,135.0,20.0,N,NaN,AK Chaudhary,C Shamshuddin
618,1082633,2017,Bangalore,2017-05-05,League,Sandeep Sharma,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,field,Kings XI Punjab,runs,19.0,139.0,20.0,N,NaN,CB Gaffaney,C Shamshuddin
621,1082636,2017,Bangalore,2017-05-07,League,SP Narine,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,6.0,159.0,20.0,N,NaN,AY Dandekar,C Shamshuddin
633,1082648,2017,Bangalore,2017-05-17,Eliminator,NM Coulter-Nile,M Chinnaswamy Stadium,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,7.0,48.0,6.0,N,D/L,AK Chaudhary,Nitin Menon
634,1082649,2017,Bangalore,2017-05-19,Qualifier 2,KV Sharma,M Chinnaswamy Stadium,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians,field,Mumbai Indians,wickets,6.0,108.0,20.0,N,NaN,NJ Llong,Nitin Menon

In [147]:
df["winner"]

0             Kolkata Knight Riders
1               Chennai Super Kings
2                  Delhi Daredevils
3       Royal Challengers Bangalore
4             Kolkata Knight Riders
                   ...
1090            Sunrisers Hyderabad
1091          Kolkata Knight Riders
1092               Rajasthan Royals
1093            Sunrisers Hyderabad
1094          Kolkata Knight Riders
Name: winner, Length: 1095, dtype: object

In [4]:
df["winner"].count()

1090

In [5]:

df["winner"].value_counts()

winner
Mumbai Indians                 144
Chennai Super Kings            138
Kolkata Knight Riders          131
Royal Challengers Bangalore    116
Rajasthan Royals               112
Kings XI Punjab                 88
Sunrisers Hyderabad             88
Delhi Daredevils                67
Delhi Capitals                  48
Deccan Chargers                 29
Gujarat Titans                  28
Lucknow Super Giants            24
Punjab Kings                    24
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Royal Challengers Bengaluru      7
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: count, dtype: int64

In [6]:
#top five teams whose played maximum matches?
df["team1"].value_counts()

team1
Royal Challengers Bangalore    135
Chennai Super Kings            128
Mumbai Indians                 123
Kolkata Knight Riders          121
Rajasthan Royals               101
Kings XI Punjab                 92
Sunrisers Hyderabad             86
Delhi Daredevils                85
Delhi Capitals                  41
Deccan Chargers                 39
Punjab Kings                    31
Lucknow Super Giants            23
Pune Warriors                   23
Gujarat Titans                  21
Gujarat Lions                   16
Royal Challengers Bengaluru      9
Rising Pune Supergiant           7
Rising Pune Supergiants          7
Kochi Tuskers Kerala             7
Name: count, dtype: int64

In [7]:
df["team2"].value_counts()

team2
Mumbai Indians                 138
Kolkata Knight Riders          130
Rajasthan Royals               120
Chennai Super Kings            110
Royal Challengers Bangalore    105
Kings XI Punjab                 98
Sunrisers Hyderabad             96
Delhi Daredevils                76
Delhi Capitals                  50
Deccan Chargers                 36
Punjab Kings                    25
Gujarat Titans                  24
Pune Warriors                   23
Lucknow Super Giants            21
Gujarat Lions                   14
Rising Pune Supergiant           9
Rising Pune Supergiants          7
Kochi Tuskers Kerala             7
Royal Challengers Bengaluru      6
Name: count, dtype: int64

In [8]:
result=df["team1"].value_counts()+df["team2"].value_counts()

In [9]:
result

Chennai Super Kings            238
Deccan Chargers                 75
Delhi Capitals                  91
Delhi Daredevils               161
Gujarat Lions                   30
Gujarat Titans                  45
Kings XI Punjab                190
Kochi Tuskers Kerala            14
Kolkata Knight Riders          251
Lucknow Super Giants            44
Mumbai Indians                 261
Pune Warriors                   46
Punjab Kings                    56
Rajasthan Royals               221
Rising Pune Supergiant          16
Rising Pune Supergiants         14
Royal Challengers Bangalore    240
Royal Challengers Bengaluru     15
Sunrisers Hyderabad            182
Name: count, dtype: int64

In [10]:
result.sort_values(ascending=False).head(2)

Mumbai Indians           261
Kolkata Knight Riders    251
Name: count, dtype: int64

In [11]:
#How can you get the total number of runs scored in the entire dataset?

In [12]:
df.head(2)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri

In [13]:
df["target_runs"].sum()

180927.0

In [14]:
#How can you get the total number of wickets taken in the entire dataset?
df["result"].value_counts()

result
wickets      578
runs         498
tie           14
no result      5
Name: count, dtype: int64

In [15]:
#How can you get the average runs scored per match
df["target_runs"].mean()

165.68406593406593

In [16]:
#How can you find the player who has won the most 'Player of the Match' awards?
df["player_of_match"].value_counts()

player_of_match
AB de Villiers       25
CH Gayle             22
RG Sharma            19
DA Warner            18
V Kohli              18
                     ..
NV Ojha               1
KV Sharma             1
Washington Sundar     1
PD Collingwood        1
Shahbaz Ahmed         1
Name: count, Length: 291, dtype: int64

In [17]:
df["player_of_match"].value_counts().head(1)

player_of_match
AB de Villiers    25
Name: count, dtype: int64

In [18]:
#this is another formula
df["player_of_match"].value_counts().idxmax()

'AB de Villiers'

In [19]:
#How can you get the number of matches played in each venue?
df["venue"].value_counts()

venue
Eden Gardens                                                             77
Wankhede Stadium                                                         73
M Chinnaswamy Stadium                                                    65
Feroz Shah Kotla                                                         60
Rajiv Gandhi International Stadium, Uppal                                49
MA Chidambaram Stadium, Chepauk                                          48
Sawai Mansingh Stadium                                                   47
Dubai International Cricket Stadium                                      46
Wankhede Stadium, Mumbai                                                 45
Punjab Cricket Association Stadium, Mohali                               35
Sheikh Zayed Stadium                                                     29
Sharjah Cricket Stadium                                                  28
MA Chidambaram Stadium, Chepauk, Chennai                                 28
Narendra Modi Stadium, Ahmedabad                                         24
Maharashtra Cricket Association Stadium                                  22
Dr DY Patil Sports Academy, Mumbai                                       20
Brabourne Stadium, Mumbai                                                17
Dr DY Patil Sports Academy                                               17
Eden Gardens, Kolkata                                                    16
Subrata Roy Sahara Stadium                                               16
Arun Jaitley Stadium, Delhi                                              16
Rajiv Gandhi International Stadium                                       15
M.Chinnaswamy Stadium                                                    15
Kingsmead                                                                15
Arun Jaitley Stadium                                                     14
Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow    14
M Chinnaswamy Stadium, Bengaluru                                         14
Rajiv Gandhi International Stadium, Uppal, Hyderabad                     13
Maharashtra Cricket Association Stadium, Pune                            13
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium                      13
SuperSport Park                                                          12
Sardar Patel Stadium, Motera                                             12
Punjab Cricket Association IS Bindra Stadium, Mohali                     11
Sawai Mansingh Stadium, Jaipur                                           10
Saurashtra Cricket Association Stadium                                   10
Brabourne Stadium                                                        10
Punjab Cricket Association IS Bindra Stadium                             10
Himachal Pradesh Cricket Association Stadium                              9
MA Chidambaram Stadium                                                    9
Holkar Cricket Stadium                                                    9
New Wanderers Stadium                                                     8
Zayed Cricket Stadium, Abu Dhabi                                          8
JSCA International Stadium Complex                                        7
Barabati Stadium                                                          7
St George's Park                                                          7
Newlands                                                                  7
Shaheed Veer Narayan Singh International Stadium                          6
Nehru Stadium                                                             5
Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh          5
Maharaja Yadavindra Singh International Cricket Stadium, Mullanpur        5
Green Park                                                                4
Himachal Pradesh Cricket Association Stadium, Dharamsala                  4
Vidarbha Cricket Association Stadium, Jamtha                              3
De Beers Diamond Oval                                                     3
Buffalo Park                                                              3
Barsapara Cricket Stadium, Guwahati                                       3
OUTsurance Oval                                                           2
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam        2
Name: count, dtype: int64

In [20]:
import pandas as pd

In [21]:
df=pd.read_csv("matches.csv")

In [22]:
df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [23]:
#highest scored match in whole dataset
df[df['target_runs']==df['target_runs'].max()]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
1053,1426268,2024,Bengaluru,2024-04-15,League,TM Head,"M Chinnaswamy Stadium, Bengaluru",Sunrisers Hyderabad,Royal Challengers Bengaluru,Royal Challengers Bengaluru,field,Sunrisers Hyderabad,runs,25.0,288.0,20.0,N,NaN,AK Chaudhary,R Pandit

In [27]:
#Which teams played the most matches against each other?
df.groupby(["team1","team2"]).size().sort_values(ascending=False).head(1)

team1                team2
Chennai Super Kings  Mumbai Indians    22
dtype: int64

In [29]:
#another sortcut
df[["team1","team2"]].value_counts().head(1)

team1                team2
Chennai Super Kings  Mumbai Indians    22
Name: count, dtype: int64

In [30]:
#Find the number of matches played in each year
df.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [43]:
g=df["date"]

In [52]:
g

In [53]:
g["year"].value_counts()

year
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
2017    59
2018    60
2019    60
2020    60
2021    60
2022    74
2023    74
2024    71
Name: count, dtype: int64

In [55]:
#creating function for  opinion columns:
def match_opinion(runs):
    if runs>100:
        return 'onesided'
    elif runs>50 and runs<100:
        return 'avarage'
    else:
        return 'tough'

In [56]:
df["opinion"]=df["result_margin"].apply(match_opinion)

In [57]:
df.head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,target_runs,target_overs,super_over,method,umpire1,umpire2,day,month,year,opinion
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,18,4,2008,onesided
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,241.0,20.0,N,NaN,MR Benson,SL Shastri,19,4,2008,tough
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,19,4,2008,tough

In [ ]:
#calculate the winning percentage of each team

In [60]:
a=df["winner"].value_counts()

In [61]:
a

winner
Mumbai Indians                 144
Chennai Super Kings            138
Kolkata Knight Riders          131
Royal Challengers Bangalore    116
Rajasthan Royals               112
Kings XI Punjab                 88
Sunrisers Hyderabad             88
Delhi Daredevils                67
Delhi Capitals                  48
Deccan Chargers                 29
Gujarat Titans                  28
Lucknow Super Giants            24
Punjab Kings                    24
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Royal Challengers Bengaluru      7
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: count, dtype: int64

In [62]:
result=df["team1"].value_counts() + df["team2"].value_counts()

In [63]:
result

Chennai Super Kings            238
Deccan Chargers                 75
Delhi Capitals                  91
Delhi Daredevils               161
Gujarat Lions                   30
Gujarat Titans                  45
Kings XI Punjab                190
Kochi Tuskers Kerala            14
Kolkata Knight Riders          251
Lucknow Super Giants            44
Mumbai Indians                 261
Pune Warriors                   46
Punjab Kings                    56
Rajasthan Royals               221
Rising Pune Supergiant          16
Rising Pune Supergiants         14
Royal Challengers Bangalore    240
Royal Challengers Bengaluru     15
Sunrisers Hyderabad            182
Name: count, dtype: int64

In [67]:
p=(a/result)*100

In [68]:
p

Chennai Super Kings            57.983193
Deccan Chargers                38.666667
Delhi Capitals                 52.747253
Delhi Daredevils               41.614907
Gujarat Lions                  43.333333
Gujarat Titans                 62.222222
Kings XI Punjab                46.315789
Kochi Tuskers Kerala           42.857143
Kolkata Knight Riders          52.191235
Lucknow Super Giants           54.545455
Mumbai Indians                 55.172414
Pune Warriors                  26.086957
Punjab Kings                   42.857143
Rajasthan Royals               50.678733
Rising Pune Supergiant         62.500000
Rising Pune Supergiants        35.714286
Royal Challengers Bangalore    48.333333
Royal Challengers Bengaluru    46.666667
Sunrisers Hyderabad            48.351648
Name: count, dtype: float64

In [69]:
data1={
    "id":[1,2,3,4],
    "name":["sachin","virat","rohit","dhoni"]}

In [70]:
df1=pd.DataFrame(data1)

In [71]:
df1

   id    name
0   1  sachin
1   2   virat
2   3   rohit
3   4   dhoni

In [72]:
data2={
    "id":[3,4,5,6],
    "name":["rohit","dhoni","hardeek","jaddu"]
}

In [73]:
df2=pd.DataFrame(data2)

In [74]:
df2

   id     name
0   3    rohit
1   4    dhoni
2   5  hardeek
3   6    jaddu

In [76]:
result_inner=pd.merge(df1,df2,on="id",how="inner")

In [77]:
result_inner

   id name_x name_y
0   3  rohit  rohit
1   4  dhoni  dhoni

In [78]:
result_left=pd.merge(df1,df2,on="id",how="left")

In [79]:
result_left

   id  name_x name_y
0   1  sachin    NaN
1   2   virat    NaN
2   3   rohit  rohit
3   4   dhoni  dhoni

In [80]:
result_right=pd.merge(df1,df2,on="id",how="right")

In [81]:
result_right

   id name_x   name_y
0   3  rohit    rohit
1   4  dhoni    dhoni
2   5    NaN  hardeek
3   6    NaN    jaddu

In [82]:
result_outer=pd.merge(df1,df2,on="id",how="outer")

In [83]:
result_outer

   id  name_x   name_y
0   1  sachin      NaN
1   2   virat      NaN
2   3   rohit    rohit
3   4   dhoni    dhoni
4   5     NaN  hardeek
5   6     NaN    jaddu