In [3]:
import pandas as pd
df=pd.read_csv("laptop_data.csv")

In [4]:
df

,Unnamed: 0,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,71378.6832
1,1,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,47895.5232
2,2,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,30636.0000
3,3,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,135195.3360
4,4,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,96095.8080
...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1298,Lenovo,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,33992.6400
1299,1299,Lenovo,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,79866.7200
1300,1300,Lenovo,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,12201.1200
1301,1301,HP,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,40705.9200
1302,1302,Asus,Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,19660.3200

In [9]:
df.drop(columns=["Unnamed: 0"],inplace=True)

In [10]:
df

,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,71378.6832
1,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,47895.5232
2,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,30636.0000
3,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,135195.3360
4,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,96095.8080
...,...,...,...,...,...,...,...,...,...,...,...
1298,Lenovo,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,33992.6400
1299,Lenovo,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,79866.7200
1300,Lenovo,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,12201.1200
1301,HP,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,40705.9200
1302,Asus,Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,19660.3200

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1303 non-null   object
 1   TypeName          1303 non-null   object
 2   Inches            1303 non-null   float64
 3   ScreenResolution  1303 non-null   object
 4   Cpu               1303 non-null   object
 5   Ram               1303 non-null   object
 6   Memory            1303 non-null   object
 7   Gpu               1303 non-null   object
 8   OpSys             1303 non-null   object
 9   Weight            1303 non-null   object
 10  Price             1303 non-null   float64
dtypes: float64(2), object(9)
memory usage: 112.1+ KB

In [11]:
df["Ram"]

0        8GB
1        8GB
2        8GB
3       16GB
4        8GB
        ...
1298     4GB
1299    16GB
1300     2GB
1301     6GB
1302     4GB
Name: Ram, Length: 1303, dtype: object

In [15]:
type(df["Ram"])

pandas.core.series.Series

In [13]:
df["Ram"]=df["Ram"].str.replace('GB','')

In [14]:
df["Ram"]

0        8
1        8
2        8
3       16
4        8
        ..
1298     4
1299    16
1300     2
1301     6
1302     4
Name: Ram, Length: 1303, dtype: object

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1303 non-null   object
 1   TypeName          1303 non-null   object
 2   Inches            1303 non-null   float64
 3   ScreenResolution  1303 non-null   object
 4   Cpu               1303 non-null   object
 5   Ram               1303 non-null   object
 6   Memory            1303 non-null   object
 7   Gpu               1303 non-null   object
 8   OpSys             1303 non-null   object
 9   Weight            1303 non-null   object
 10  Price             1303 non-null   float64
dtypes: float64(2), object(9)
memory usage: 112.1+ KB

In [19]:
df["Ram"]=df["Ram"].astype('int')

In [21]:
df["Ram"]

0        8
1        8
2        8
3       16
4        8
        ..
1298     4
1299    16
1300     2
1301     6
1302     4
Name: Ram, Length: 1303, dtype: int32

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1303 non-null   object
 1   TypeName          1303 non-null   object
 2   Inches            1303 non-null   float64
 3   ScreenResolution  1303 non-null   object
 4   Cpu               1303 non-null   object
 5   Ram               1303 non-null   int32
 6   Memory            1303 non-null   object
 7   Gpu               1303 non-null   object
 8   OpSys             1303 non-null   object
 9   Weight            1303 non-null   object
 10  Price             1303 non-null   float64
dtypes: float64(2), int32(1), object(8)
memory usage: 107.0+ KB

In [23]:
df["OpSys"].value_counts()

OpSys
Windows 10      1072
No OS             66
Linux             62
Windows 7         45
Chrome OS         27
macOS             13
Mac OS X           8
Windows 10 S       8
Android            2
Name: count, dtype: int64

# 04/04/2025:

In [3]:
 import pandas as pd

In [4]:
e=pd.read_csv("new_delivery.csv")

In [5]:
e

   Unnamed: 0  match_id player_of_match  runs  wickets  extras
0           0         1        Player X    50        1      10
1           1         2        Player Y    45        2      12
2           2         3        Player Z    30        0       5
3           3         4        Player X    60        3       8
4           4         5        Player Y    70        1       7
5           5         6        Player Z    40        2      15
6           6         7        Player X    55        2      10
7           7         8        Player Y    65        1       6
8           8         9        Player Z    35        1      14
9           9        10        Player X    50        0       9

In [6]:
a=pd.read_csv("new_matches.csv")

In [7]:
a

   Unnamed: 0  match_id  season       city   team1   team2  winner
0           0         1    2021     Mumbai  Team A  Team B  Team A
1           1         2    2021      Delhi  Team B  Team C  Team B
2           2         3    2021    Chennai  Team C  Team A  Team C
3           3         4    2022  Bangalore  Team A  Team B  Team A
4           4         5    2022  Hyderabad  Team B  Team C  Team B
5           5         6    2022    Kolkata  Team C  Team A  Team A
6           6         7    2021     Jaipur  Team A  Team B  Team C
7           7         8    2022    Chennai  Team B  Team C  Team B
8           8         9    2021      Delhi  Team C  Team A  Team A
9           9        10    2022     Mumbai  Team A  Team B  Team C

In [8]:
merged=pd.merge(e,a,on="match_id",how="inner")

In [7]:
merged

,Unnamed: 0_x,match_id,player_of_match,runs,wickets,extras,Unnamed: 0_y,season,city,team1,team2,winner
0,0,1,Player X,50,1,10,0,2021,Mumbai,Team A,Team B,Team A
1,1,2,Player Y,45,2,12,1,2021,Delhi,Team B,Team C,Team B
2,2,3,Player Z,30,0,5,2,2021,Chennai,Team C,Team A,Team C
3,3,4,Player X,60,3,8,3,2022,Bangalore,Team A,Team B,Team A
4,4,5,Player Y,70,1,7,4,2022,Hyderabad,Team B,Team C,Team B
5,5,6,Player Z,40,2,15,5,2022,Kolkata,Team C,Team A,Team A
6,6,7,Player X,55,2,10,6,2021,Jaipur,Team A,Team B,Team C
7,7,8,Player Y,65,1,6,7,2022,Chennai,Team B,Team C,Team B
8,8,9,Player Z,35,1,14,8,2021,Delhi,Team C,Team A,Team A
9,9,10,Player X,50,0,9,9,2022,Mumbai,Team A,Team B,Team C

In [8]:
merged.drop(columns=["Unnamed: 0_x"],inplace=True)

In [9]:
merged

,match_id,player_of_match,runs,wickets,extras,Unnamed: 0_y,season,city,team1,team2,winner
0,1,Player X,50,1,10,0,2021,Mumbai,Team A,Team B,Team A
1,2,Player Y,45,2,12,1,2021,Delhi,Team B,Team C,Team B
2,3,Player Z,30,0,5,2,2021,Chennai,Team C,Team A,Team C
3,4,Player X,60,3,8,3,2022,Bangalore,Team A,Team B,Team A
4,5,Player Y,70,1,7,4,2022,Hyderabad,Team B,Team C,Team B
5,6,Player Z,40,2,15,5,2022,Kolkata,Team C,Team A,Team A
6,7,Player X,55,2,10,6,2021,Jaipur,Team A,Team B,Team C
7,8,Player Y,65,1,6,7,2022,Chennai,Team B,Team C,Team B
8,9,Player Z,35,1,14,8,2021,Delhi,Team C,Team A,Team A
9,10,Player X,50,0,9,9,2022,Mumbai,Team A,Team B,Team C

In [10]:
result=merged.groupby("player_of_match")[["runs","wickets"]].sum()

In [11]:
result

                 runs  wickets
player_of_match
Player X          215        6
Player Y          180        4
Player Z          105        3

In [12]:
result=merged.groupby("player_of_match")[["runs","wickets"]].sum().reset_index()

In [13]:
result

  player_of_match  runs  wickets
0        Player X   215        6
1        Player Y   180        4
2        Player Z   105        3

In [16]:
r=merged.groupby(["match_id","team1"])["runs"].sum()

NameError: name 'merged' is not defined

In [18]:
r

match_id  team1
1         Team A    50
2         Team B    45
3         Team C    30
4         Team A    60
5         Team B    70
6         Team C    40
7         Team A    55
8         Team B    65
9         Team C    35
10        Team A    50
Name: runs, dtype: int64

In [19]:
r1=merged.groupby(["match_id","team1"])["runs"].sum().reset_index()
r2=merged.groupby(["match_id","team1"])["runs"].sum().reset_index()
result=pd.concat([r1,r2])
print(result)

   match_id   team1  runs
0         1  Team A    50
1         2  Team B    45
2         3  Team C    30
3         4  Team A    60
4         5  Team B    70
5         6  Team C    40
6         7  Team A    55
7         8  Team B    65
8         9  Team C    35
9        10  Team A    50
0         1  Team A    50
1         2  Team B    45
2         3  Team C    30
3         4  Team A    60
4         5  Team B    70
5         6  Team C    40
6         7  Team A    55
7         8  Team B    65
8         9  Team C    35
9        10  Team A    50

In [36]:
g=merged.groupby("player_of_match")["wickets"].sum().head(1)#one column take () and two or more columns take([])

In [37]:
g

player_of_match
Player X    6
Name: wickets, dtype: int64

In [34]:
g=merged.groupby("player_of_match")["wickets"].sum().idxmax()

In [35]:
g

'Player X'

In [41]:
a

0    50
1    45
2    30
3    60
4    70
5    40
6    55
7    65
8    35
9    50
Name: runs, dtype: int64

In [9]:
a=pd.DataFrame({"list1":[2,3,4,5,6],
                "list2":[4,5,6,7,8]
               })

In [10]:
a

   list1  list2
0      2      4
1      3      5
2      4      6
3      5      7
4      6      8

In [13]:
a.applymap(lambda x:x**2)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_18220\2348189856.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  a.applymap(lambda x:x**2)

   list1  list2
0      4     16
1      9     25
2     16     36
3     25     49
4     36     64

In [14]:
b=pd.DataFrame({"name":["mayur","hardik","krunal"],
               "city":["mumbai","hyd","delhi"]
               })

In [15]:
b

     name    city
0   mayur  mumbai
1  hardik     hyd
2  krunal   delhi

In [16]:
b.applymap(lambda x:x.upper())

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_18220\2186140249.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  b.applymap(lambda x:x.upper())

     name    city
0   MAYUR  MUMBAI
1  HARDIK     HYD
2  KRUNAL   DELHI

In [17]:
c=pd.DataFrame({"score1":[40,45,50,55],
               "score2":[30,56,79,90]})

In [18]:
c

   score1  score2
0      40      30
1      45      56
2      50      79
3      55      90

In [19]:
c.applymap(lambda x:"pass" if x>50 else "fail")

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_18220\4173453686.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  c.applymap(lambda x:"pass" if x>50 else "fail")

  score1 score2
0   fail   fail
1   fail   pass
2   fail   pass
3   pass   pass

In [20]:
k1=pd.read_csv("new_matches.csv")

In [21]:
k2=pd.read_csv("new_delivery.csv")

In [22]:
k1

   Unnamed: 0  match_id  season       city   team1   team2  winner
0           0         1    2021     Mumbai  Team A  Team B  Team A
1           1         2    2021      Delhi  Team B  Team C  Team B
2           2         3    2021    Chennai  Team C  Team A  Team C
3           3         4    2022  Bangalore  Team A  Team B  Team A
4           4         5    2022  Hyderabad  Team B  Team C  Team B
5           5         6    2022    Kolkata  Team C  Team A  Team A
6           6         7    2021     Jaipur  Team A  Team B  Team C
7           7         8    2022    Chennai  Team B  Team C  Team B
8           8         9    2021      Delhi  Team C  Team A  Team A
9           9        10    2022     Mumbai  Team A  Team B  Team C

In [23]:
k2

   Unnamed: 0  match_id player_of_match  runs  wickets  extras
0           0         1        Player X    50        1      10
1           1         2        Player Y    45        2      12
2           2         3        Player Z    30        0       5
3           3         4        Player X    60        3       8
4           4         5        Player Y    70        1       7
5           5         6        Player Z    40        2      15
6           6         7        Player X    55        2      10
7           7         8        Player Y    65        1       6
8           8         9        Player Z    35        1      14
9           9        10        Player X    50        0       9

In [24]:
k1.drop(columns=["Unnamed: 0"],inplace=True)

In [25]:
k2.drop(columns=["Unnamed: 0"],inplace=True)

In [26]:
k1

   match_id  season       city   team1   team2  winner
0         1    2021     Mumbai  Team A  Team B  Team A
1         2    2021      Delhi  Team B  Team C  Team B
2         3    2021    Chennai  Team C  Team A  Team C
3         4    2022  Bangalore  Team A  Team B  Team A
4         5    2022  Hyderabad  Team B  Team C  Team B
5         6    2022    Kolkata  Team C  Team A  Team A
6         7    2021     Jaipur  Team A  Team B  Team C
7         8    2022    Chennai  Team B  Team C  Team B
8         9    2021      Delhi  Team C  Team A  Team A
9        10    2022     Mumbai  Team A  Team B  Team C

In [27]:
k2

   match_id player_of_match  runs  wickets  extras
0         1        Player X    50        1      10
1         2        Player Y    45        2      12
2         3        Player Z    30        0       5
3         4        Player X    60        3       8
4         5        Player Y    70        1       7
5         6        Player Z    40        2      15
6         7        Player X    55        2      10
7         8        Player Y    65        1       6
8         9        Player Z    35        1      14
9        10        Player X    50        0       9

In [29]:
#What is the performance (runs and wickets) of each player in each match?
merged=pd.merge(k1,k2,on="match_id",how="inner")

In [30]:
merged

,match_id,season,city,team1,team2,winner,player_of_match,runs,wickets,extras
0,1,2021,Mumbai,Team A,Team B,Team A,Player X,50,1,10
1,2,2021,Delhi,Team B,Team C,Team B,Player Y,45,2,12
2,3,2021,Chennai,Team C,Team A,Team C,Player Z,30,0,5
3,4,2022,Bangalore,Team A,Team B,Team A,Player X,60,3,8
4,5,2022,Hyderabad,Team B,Team C,Team B,Player Y,70,1,7
5,6,2022,Kolkata,Team C,Team A,Team A,Player Z,40,2,15
6,7,2021,Jaipur,Team A,Team B,Team C,Player X,55,2,10
7,8,2022,Chennai,Team B,Team C,Team B,Player Y,65,1,6
8,9,2021,Delhi,Team C,Team A,Team A,Player Z,35,1,14
9,10,2022,Mumbai,Team A,Team B,Team C,Player X,50,0,9

In [33]:
merged[["player_of_match","runs","wickets"]]

  player_of_match  runs  wickets
0        Player X    50        1
1        Player Y    45        2
2        Player Z    30        0
3        Player X    60        3
4        Player Y    70        1
5        Player Z    40        2
6        Player X    55        2
7        Player Y    65        1
8        Player Z    35        1
9        Player X    50        0

In [43]:
#total number of runs scored and wickets taken
result=merged.groupby("player_of_match")[["runs","wickets"]].sum().head(1)

In [44]:
result

                 runs  wickets
player_of_match
Player X          215        6

In [47]:
result=merged.groupby("player_of_match")[["runs","wickets"]].sum().reset_index()

In [48]:
result

  player_of_match  runs  wickets
0        Player X   215        6
1        Player Y   180        4
2        Player Z   105        3

In [49]:
#What was the total number of runs scored in each match by each team?
total_a=merged.groupby(["match_id","team1"])["runs"].sum().reset_index()
total_b=merged.groupby(["match_id","team1"])["runs"].sum().reset_index()

In [50]:
total_a

   match_id   team1  runs
0         1  Team A    50
1         2  Team B    45
2         3  Team C    30
3         4  Team A    60
4         5  Team B    70
5         6  Team C    40
6         7  Team A    55
7         8  Team B    65
8         9  Team C    35
9        10  Team A    50

In [51]:
total_b

   match_id   team1  runs
0         1  Team A    50
1         2  Team B    45
2         3  Team C    30
3         4  Team A    60
4         5  Team B    70
5         6  Team C    40
6         7  Team A    55
7         8  Team B    65
8         9  Team C    35
9        10  Team A    50

In [52]:
total_result=pd.concat([total_a,total_b])

In [53]:
total_result

   match_id   team1  runs
0         1  Team A    50
1         2  Team B    45
2         3  Team C    30
3         4  Team A    60
4         5  Team B    70
5         6  Team C    40
6         7  Team A    55
7         8  Team B    65
8         9  Team C    35
9        10  Team A    50
0         1  Team A    50
1         2  Team B    45
2         3  Team C    30
3         4  Team A    60
4         5  Team B    70
5         6  Team C    40
6         7  Team A    55
7         8  Team B    65
8         9  Team C    35
9        10  Team A    50

In [55]:
#What was the average number of wickets taken by each player across all matches?
ans=merged.groupby("player_of_match")["wickets"].mean().reset_index()

In [56]:
ans

  player_of_match   wickets
0        Player X  1.500000
1        Player Y  1.333333
2        Player Z  1.000000

In [57]:
#leading wicket taker in entire dataset
a=merged.groupby("player_of_match")["wickets"].sum().idxmax()

In [58]:
a

'Player X'

In [59]:
a=merged.groupby("player_of_match")["wickets"].sum().head(1)

In [60]:
a

player_of_match
Player X    6
Name: wickets, dtype: int64

In [70]:
#orange cap holder
b=merged.groupby("player_of_match")["wickets"].sum().idxmax()#use head(1) also

In [71]:
b

'Player X'

In [74]:
#purple cap winner
b=merged.groupby("player_of_match")["runs"].sum().idxmax() #use head(1) also

In [75]:
b

'Player X'

In [88]:
#season 2022 orange cap holder
#season 2021 purple cap holder
b=merged[merged["season"]==2022].sort_values("runs",ascending=False).head(1)

In [89]:
b

,match_id,season,city,team1,team2,winner,player_of_match,runs,wickets,extras
4,5,2022,Hyderabad,Team B,Team C,Team B,Player Y,70,1,7

In [80]:
b=merged[merged["season"]==2022].sort_values("wickets",ascending=False).head(1)

In [81]:
b

,match_id,season,city,team1,team2,winner,player_of_match,runs,wickets,extras
3,4,2022,Bangalore,Team A,Team B,Team A,Player X,60,3,8

# 05/04/2025:

In [1]:
import pandas as pd

In [7]:
a=pd.read_csv("deliveries.csv")

In [8]:
a

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [9]:
b=pd.read_csv("matches.csv")

In [10]:
b

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [14]:
c = pd.merge(b,a, left_on="id", right_on="match_id", how="inner")

In [15]:
c

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [28]:
def matches_city(city):
    result=c[c["city"]==city]
    return result

In [29]:
matches_city("Chennai")

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
1624,335989,2007/08,Chennai,2008-04-23,League,ML Hayden,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Mumbai Indians,Mumbai Indians,...,SM Pollock,ML Hayden,0,1,1,wides,0,NaN,NaN,NaN
1625,335989,2007/08,Chennai,2008-04-23,League,ML Hayden,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Mumbai Indians,Mumbai Indians,...,SM Pollock,ML Hayden,0,0,0,NaN,0,NaN,NaN,NaN
1626,335989,2007/08,Chennai,2008-04-23,League,ML Hayden,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Mumbai Indians,Mumbai Indians,...,SM Pollock,ML Hayden,0,0,0,NaN,0,NaN,NaN,NaN
1627,335989,2007/08,Chennai,2008-04-23,League,ML Hayden,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Mumbai Indians,Mumbai Indians,...,SM Pollock,ML Hayden,0,0,0,NaN,0,NaN,NaN,NaN
1628,335989,2007/08,Chennai,2008-04-23,League,ML Hayden,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Mumbai Indians,Mumbai Indians,...,SM Pollock,ML Hayden,4,0,4,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [26]:
def matches_citycount(city):
    result=c[c["city"]==city]
    return result.shape[0]

In [27]:
matches_citycount("Chennai")

20706

In [37]:
result=c.groupby(["match_id","bowling_team"])["is_wicket"].sum().reset_index()

In [38]:
result

      match_id                 bowling_team  is_wicket
0       335982        Kolkata Knight Riders         10
1       335982  Royal Challengers Bangalore          3
2       335983          Chennai Super Kings          4
3       335983              Kings XI Punjab          5
4       335984             Delhi Daredevils          8
...        ...                          ...        ...
2182   1426310  Royal Challengers Bengaluru          6
2183   1426311             Rajasthan Royals          9
2184   1426311          Sunrisers Hyderabad          7
2185   1426312        Kolkata Knight Riders         10
2186   1426312          Sunrisers Hyderabad          2

[2187 rows x 3 columns]

In [39]:
c.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'match_id', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batter', 'bowler', 'non_striker',
       'batsman_runs', 'extra_runs', 'total_runs', 'extras_type', 'is_wicket',
       'player_dismissed', 'dismissal_kind', 'fielder'],
      dtype='object')

In [53]:
r1 = c.groupby("batter")["total_runs"].mean()

In [54]:
r1

batter
A Ashish Reddy    1.469388
A Badoni          1.362376
A Chandila        0.571429
A Chopra          0.773333
A Choudhary       1.250000
                    ...
Yashpal Singh     0.731343
Younis Khan       0.428571
Yudhvir Singh     1.375000
Yuvraj Singh      1.306751
Z Khan            0.858156
Name: total_runs, Length: 673, dtype: float64

In [60]:
r2=c.groupby(["batting_team","bowling_team"])["venue"].unique().reset_index()

In [61]:
r2

,batting_team,bowling_team,venue
0,Chennai Super Kings,Deccan Chargers,"[MA Chidambaram Stadium, Chepauk, Rajiv Gandhi..."
1,Chennai Super Kings,Delhi Capitals,"[Arun Jaitley Stadium, MA Chidambaram Stadium,..."
2,Chennai Super Kings,Delhi Daredevils,"[MA Chidambaram Stadium, Chepauk, Feroz Shah K..."
3,Chennai Super Kings,Gujarat Titans,"[Maharashtra Cricket Association Stadium, Pune..."
4,Chennai Super Kings,Kings XI Punjab,"[Punjab Cricket Association Stadium, Mohali, M..."
...,...,...,...
221,Sunrisers Hyderabad,Rajasthan Royals,"[Sawai Mansingh Stadium, Rajiv Gandhi Internat..."
222,Sunrisers Hyderabad,Rising Pune Supergiant,"[Maharashtra Cricket Association Stadium, Raji..."
223,Sunrisers Hyderabad,Rising Pune Supergiants,"[Rajiv Gandhi International Stadium, Uppal, Dr..."
224,Sunrisers Hyderabad,Royal Challengers Bangalore,"[Rajiv Gandhi International Stadium, Uppal, M ..."
225,Sunrisers Hyderabad,Royal Challengers Bengaluru,"[M Chinnaswamy Stadium, Bengaluru, Rajiv Gandh..."

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('Iris.csv')

In [4]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
df['PetalLengthCm']

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64

In [ ]:
\